/*****************************************************/
/* CSS全体設定 */

/* 全体イメージは以下の通り　*/
/*　ここから　コメント↓
サンプルイメージ図（Plain text）
+----------------------+
| body　               |
| 背景と文字の設定     |
+----------------------+

+----------------------+
| header               |
| ロゴ・タイトル       |
+----------------------+

+----------------------+
| nav(ナビゲーション)  |
| Logo,各種紹介,他.... |
+----------------------+

+----------------------+
| main                 |
| +----------+---------+
| | section 　　　　　 |
| |--------------------|
| | div   　 |div      |
| | 左設定　 |　右設定 |
| +----------+---------|
+----------------------+

+----------------------+
| footer               |
| コピーライト         |
+----------------------+
［body］ページ全体の背景
［header］一番上（タイトルを記載）
［nav］メニュー
［main］メインの内容を記載する
［section］内容毎に区切る
［footer］一番下(コピーライトを記載)

ここまで　コメント↑
*/

/* ここからＣＳＳ設定です　*/
/*****************************************************/
/* 文字コード指定

@charset "UTF-8";

/*****************************************************/
/* 全要素の初期化 */
*{
    margin:0;                 /* 外側余白を0にする */
    padding:0;                /* 内側余白を0にする */
    box-sizing:border-box;    /* サイズ計算を簡単にする */
}
/*****************************************************/
/* 画面全体 */
/*****************************************************/

/*******************/
/* ボディ */
body {
    font-family: "Hiragino Sans", "Noto Sans JP", sans-serif;　/* フォント指定 */
    margin: 0;　/* 外側余白を消す */
    padding:0;  /* 内側余白を0にする */
    background: #f7faff; /* 背景色 */
    color:#000;    /* 文字色 */
  }
/*******************/
/* ヘッダー */
  .header {
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  /* 横方向の配置を調整する指定 */
    padding: 16px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

/* 左のロゴ */

  .logo-box {
    width: 150px;
    height:30px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }

  .menu {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap; /* ← 折り返し禁止 */
  }


/* 右のボタン */
  .menu button {
    padding: 14px 32px;
    width:160px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius:50px;
    color: #fff;
    background: linear-gradient(90deg, #4a90e2, #007aff);
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 4px 0 #0051a8;
  }


/* 右のボタンを押したとき */
  .menu button:hover {
    background: linear-gradient(90deg, #ff6aa2, #ff8ac6); /* ピンク系 */
    box-shadow: 0 2px 0 #b84a7a; /* 押し込み感 */
    transform: translateY(2px);
  }


